%nav.navbar.navbar-inverse.navbar-static-top{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ type: "button", :"data-toggle" => "collapse", :"data-target" => "#navbar-collapse" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "#gdobstarsBETA", "#", class: "navbar-brand"

    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Nominate", "#", id: "nominateNav"
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to destroy_user_session_path, method: :delete do
            %span Sign Out
