$gd-green: #70ac00;
$gd-green-hover: #97c534;
$gd-dark-green: #5a8c00;
$gd-dark-green-hover: #78aa17;
$gd-orange: #f06d00;

$black: #595959;
$dark-gray: #696969;
$gray: #dbdbdb;
$light-gray: #dedede;

$white: #fff;
