body.devise,
body.registrations
{
  background: $gd-green;
}

.panel.panel-default
{
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  border: 0;
  border-radius: 0;
}

.btn
{
  background: $gd-green;
  border: 0;
  border-bottom: 3px solid $gd-dark-green;
  border-radius: 0;
  color: $white;

  &:hover
  {
    background: $gd-green-hover;
    border-color: $gd-dark-green-hover;
    color: $white;
  }

  &.full-width
  {
    width: 100%;
  }
}

.form-control
{
  border-radius: 0;
  color: $dark-gray;
  border: 2px solid $gray;
  padding: 20px 10px;

  &:focus
  {
    border-color: $gd-green-hover;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
  }
}

nav.navbar-inverse
{
  background-color: $gd-green;
  border-color: $gd-dark-green;

  .navbar-brand
  {
    color: $white;

    &:hover
    {
      background-color: $gd-green-hover;
    }
  }

  .navbar-nav > li > a
  {
    color: $white;

    &:hover
    {
      background-color: $gd-green-hover;
    }
  }
}

.nomination-panel
{
  border-radius: 0;
  border-color: $light-gray;
  background: $light-gray;
  color: $black;

  strong
  {
    margin-right: 10px;
  }

  &.panel-info > .panel-heading
  {
    color: $black;
    background-color: $light-gray;
    border-color: $light-gray;
    border-radius: 0;
  }

  &.panel-info > .panel-body
  {
    line-height: 35px;
  }

  .time-remaining
  {
    margin-right: 10px;
  }
}

.modal-content
{
  border-radius: 0;
}
